header{
        /* background-color: blue; */
        /* background-image: url(images/cover/cover-1.png); */
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
}

.munna-carousel-text{
       
}